@import "~react-vis/dist/style";

.spotify-analysis {
  .plot-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
  }

  .button-controls {
    width: 200px;
  }
}
