#razer-board{
    display:flex;
    max-width:500px;
    align-items: flex-end;
    align-self: center;
    flex-wrap: wrap;
    margin: 20px;
}

#razer-board>#r-keys{
    display:flex;
    flex-grow:5;
    align-items: flex-end;
}
#razer-board>#rjs-keys{
    display:flex;
    flex-grow:5;
    align-items: flex-end;
}
  
  .key{
    width:40px;
    height:40px;
    flex-grow:1;
    background-color: #1F363D;
    color: #F6F9F4;
    margin: 4px;
    padding-left: 10px;
    border-radius: 10px;
    border-bottom: 5px solid #111E22;
  }
  
  .pressed{
    border-bottom: 0;
  }
  
  #key0,#key6{color: #fea3aa; text-shadow: 0 0 2px #fea3aa;}
  #key1{color: #f8b88b; text-shadow: 0 0 2px #f8b88b;}
  #key2{color: #faf884; text-shadow: 0 0 2px #faf884;}
  #key3{color: #baed91; text-shadow: 0 0 2px #baed91;}
  #key4{color: #b2cefe; text-shadow: 0 0 2px #b2cefe;}
  #key5{color: #f2a2e8; text-shadow: 0 0 2px #f2a2e8;}

.razer-animation{
    display: flex;
    justify-content: center;
}

.razer-info{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}