.banner{
    /* min-height: 500px; */
    display: flex;
    justify-content: center;
    width: 100%;
    max-width:100%;
  }

.banner-content{
    max-width:1040px;
    width:100%;
    padding: 20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}

.drop-transition{
    transition: opacity 2s, transform 2s;
    transform: translateY(-30px); 
    opacity: 0;
}

.slide-transition{
    transition: opacity 2s, transform 2s;
    transform: translateX(-30px); 
    opacity: 0;
}

.banner-visible .drop-transition,
.banner-visible .slide-transition{
    transform: translate(0,0); 
    opacity: 1;
}

.banner-info{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}